[submodule "algosi"]
	path = algosi
	url = https://github.com/Sanchell1o/Algosi.git
[submodule "algosi_first"]
	path = algosi_first
	url = https://github.com/Sanchell1o/Algosi_first.git
[submodule "linal"]
	path = linal
	url = https://github.com/Sanchell1o/linal.git
[submodule "matam"]
	path = matam
	url = https://github.com/Sanchell1o/matan.git
[submodule "python"]
	path = python
	url = https://github.com/Sanchell1o/python.git
[submodule "python_first"]
	path = python_first
	url = https://github.com/Sanchell1o/python_first.git
